
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,600');
body {
	margin:0;
	padding: 0;
	color:#fff;
}
.header {
	padding: 5px;
	background: #03A9F4;
	text-align: center;
	background: url(img/hbg.jpg);
	background-repeat: space;
	margin-bottom: 0.5px;
	width: 100%;

}
.header h1 {
	margin-bottom: 0;
}
.header h1 a {
	color:#fff;
	font-weight: 600;
	text-decoration: none;
	font-size: 40px;
	font-family: 'Spectral SC', serif;
	border-bottom: 0.5px solid;

}
.border {

}
.header h3 {
	margin: 0;
	font-size: 16px;
	color:#fff;
	font-family: 'Spectral SC', serif;
}
.body {
	padding: 5px;
	text-align: center;
	/*background: #fff;*/
	background: url(img/bg.png);
	background-repeat: no-repeat;
}
.content {
	max-width: 70%;
	margin:auto;
}

.footer {
	margin-top: 0.5px;
	background:#0174cf;
	padding: 5px;
}
.footer div {
	max-width: 70%;
	margin: auto;
	padding: 5px;
	color: #fff;
}