body {
    background: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a, a:visited {
    color: #1c1aee;
    text-decoration: none;
}
.wrapper {
    margin: auto;
    max-width: 1100px;
    margin-top: 1rem;
}

.site-header {
    padding: 1rem;
    background: #3F51B5;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.site-branding  a{

    color: #fff;

}

.site-branding p {
    margin: 0;
    font-family: font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}



.site-branding p small {
    display: block;
    font-weight: 400;
    font-size: 13px;
}


.site-content {
    background: #fff;
    padding: 1rem;
    overflow: hidden;
}

.content {
    float: left;
    width: 69%;
    margin-right: 1%;
}
.content h1,.sidebar h1,.content h2 {
    margin: 0;
    border-bottom: 1px solid;
    font-size : 25px;
}
.content h1 {
    background: #607D8B;
    padding: 5px;
    border: none;
    color: #fff;
    text-align: center;
    margin: 1rem;
}

.content h2 {
    font-size: 20px;
}
.article-title {
    font-size:25px;
    border-bottom: 1px solid;
}
.article-title h4 {
    margin:1rem;
}
.article-title code {
    display: block;
    font-size: 13px;
    color: red;
}
.article ul  li {
    margin-bottom: 1rem;
}

.article img {
    width: 50%;
    float: left;
    padding: 1rem;
    margin-right: 5px;

}
.article .full-screen {
    width: 100%;
}
.article-body code{
    background: #ccc;
    padding: 5px;
}
.article-footer {
    display: block;
    clear: both;
    background: #eee;
    padding: 5px;
}

.sidebar {
    float: left;
    width: 30%;
}

.site-footer {
    background: #3F51B5;
    padding: 1rem;
}

.site-footer p {
    color: #fff;
}

@media only screen and (max-width: 800px){
    .wrapper {
        margin: 0;
    }
    .content {
        width: 100%;
    }
    .article {
        overflow: hidden;
    }

    .article img {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

}